<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to Your Dashboard</h1>
    <h2>User Details:</h2>
    <div>
        <img src="static\{{ invoice_details.image_location }}" alt="Invoice Image" height="500px" width="500px">
        <p><strong>Name:</strong> {{ user_details.name }}</p>
        <p><strong>Email:</strong> {{ user_details.email }}</p>
        <p><strong>Contact Number:</strong> {{ user_details.contact }}</p>
        <!-- Add more user details here -->
    </div>
    <h2>Invoice Details:</h2>
    <div>
        <p><strong>Date:</strong> {{ invoice_details.date }}</p>
        <p><strong>Lead Source:</strong> {{ invoice_details.lead_source }}</p>
        <p><strong>Lead Month:</strong> {{ invoice_details.lead_month }}</p>
        <p><strong>Pre Enrollment Number:</strong> {{ invoice_details.pre_enrollment_number }}</p>
        <p><strong>About Customer:</strong> {{ invoice_details.about_customer }}</p>
        <p><strong>Batch Details:</strong> {{ invoice_details.batch_details }}</p>
        <p><strong>Pitching Model:</strong> {{ invoice_details.pitching_model }}</p>
        <p><strong>Father's Name:</strong> {{ invoice_details.father_name }}</p>
        <p><strong>Mother's Name:</strong> {{ invoice_details.mother_name }}</p>
        <p><strong>Student's Name:</strong> {{ invoice_details.student_name }}</p>
        <p><strong>Student's Age:</strong> {{ invoice_details.student_age }}</p>
        <p><strong>Current Address:</strong> {{ invoice_details.current_address }}</p>
        <p><strong>School Name:</strong> {{ invoice_details.school_name }}</p>
        <p><strong>Contact Number (Primary):</strong> {{ invoice_details.contact_number }}</p>
        <p><strong>Contact Number (Alternative):</strong> {{ invoice_details.alternative_number }}</p>
        <p><strong>Email:</strong> {{ invoice_details.email }}</p>
        <p><strong>Course:</strong> {{ invoice_details.course }}</p>
        <p><strong>Level:</strong> {{ invoice_details.level }}</p>
        <p><strong>Class Type:</strong> {{ invoice_details.class_type }}</p>
        <p><strong>Total Amount:</strong> {{ invoice_details.total_amount }}</p>
        <p><strong>Amount Paid:</strong> {{ invoice_details.amount_paid }}</p>
        <p><strong>Payment Mode:</strong> {{ invoice_details.payment_mode }}</p>
        <p><strong>EMI Tenure (in months):</strong> {{ invoice_details.emi_tenure }}</p>
        <p><strong>EMI Per Month:</strong> {{ invoice_details.emi_per_month }}</p>
        <p><strong>Duration of Course:</strong> {{ invoice_details.course_duration }}</p>
        <p><strong>Sales Consultant Name:</strong> {{ invoice_details.sales_consultant_name }}</p>
        <p><strong>Department:</strong> {{ invoice_details.department }}</p>
        <p><strong>Complementary Course:</strong> {{ invoice_details.complementary_course }}</p>
        <p><strong>Language:</strong> {{ invoice_details.language }}</p>
        <p><strong>Demo Done:</strong> {{ invoice_details.demo_done }}</p>
        <p><strong>Complementary Course Details:</strong> {{ invoice_details.complementary_course_details }}</p>
        <!-- Add more invoice details here -->
    </div>

    <form action="/feedback" method="get">
        <button type="submit">Feedback Form</button>
    </form>

    <form id="uploadForm" action="/dashboard_student" method="post" enctype="multipart/form-data">
        <input type="file" name="pdf_file">        
        <button type="submit">Upload PDF</button>
    </form>

    <form action="/dashboard_student" method="post" enctype="multipart/form-data">
        <input type="file" name="pdf_file">
        <select name="mentor_name">
            {% for mentor in mentor_list %}
                <option value="{{ mentor.id }}">{{ mentor.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Assign Mentor</button>
    </form>
    
    
    
    
    
</body>
</html>
