<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentor Dashboard</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        .assignment-form {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Mentor Dashboard</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Email</th>
                <th>Address</th>
                <th>State</th>
                <th>Education</th>
                <th>Highest Qualification</th>
                <th>Certifications</th>
                <th>Course</th>
                <th>Level</th>
                <th>Expected Payment</th>
                <th>Available Slots</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ mentor_details.mentor_name }}</td>
                <td>{{ mentor_details.birthdate }}</td>
                <td>{{ mentor_details.email }}</td>
                <td>{{ mentor_details.address }}</td>
                <td>{{ mentor_details.state }}</td>
                <td>{{ mentor_details.education }}</td>
                <td>{{ mentor_details.highest_qualification }}</td>
                <td>{{ mentor_details.certifications }}</td>
                <td>{{ mentor_details.course }}</td>
                <td>{{ mentor_details.level }}</td>
                <td>{{ mentor_details.expected_payment }}</td>
                <td>{{ mentor_details.available_slots }}</td>
            </tr>
        </tbody>
    </table>

    <br><br><br>

    <table>
        <tr>
          <th>PDF</th>
          <th>Assignment Name</th>
          <th>Mentor KCID</th>
          <th>Action</th>
        </tr>
        {% for assignment in assignment_details %}
        <tr>
            <td><a href="{{ url_for('static', filename=assignment.pdf_location) }}" target="_blank">Open File</a></td>
            <td>{{ assignment.name }}</td>
          <td>{{ assignment.kcid }}</td>
          <td>
            <form action="/delete_assignment" method="post">
                    <input type="hidden" name="assignment_id" value="{{ assignment.kcid }}">
                    <input type="hidden" name="assignment_loc" value="{{ assignment.name }}">
                    <button type="submit">Done</button>
                </form>
                
            </form>
        </td>
        
        </tr>
        {% endfor %}
      </table>
      
</body>
</html>
