<!-- forms.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
</head>
<body>
    <h2>Forms</h2>
    <form action="/invoice_form" method="get">
        <button type="submit">Invoice Form</button>
    </form>
    <form action="/mentor_details" method="get">
        <button type="submit">Mentor Details Form</button>
    </form>
    <form action="/leads_form" method="get">
        <button type="submit">Leads Form</button>
    </form>
</body>
</html>
